.nav-tabs .glyphicon:not(.no-margin) {
    margin-right: 10px;
}

.tab-pane .list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.tab-pane .list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.tab-pane .list-group .checkbox {
    display: inline-block;
    margin: 0px;
}

.tab-pane .list-group input[type="checkbox"] {
    margin-top: 2px;
}

.tab-pane .list-group .glyphicon {
    margin-right: 5px;
}

.tab-pane .list-group .glyphicon:hover {
    color: #FFBC00;
}

a.list-group-item.read {
    color: #222;
    background-color: #F3F3F3;
}

hr {
    margin-top: 5px;
    margin-bottom: 10px;
}

.nav-pills > li > a {
    padding: 5px 10px;
}

.ad {
    padding: 5px;
    background: #F5F5F5;
    color: #222;
    font-size: 80%;
    border: 1px solid #E5E5E5;
}

.ad a.title {
    color: #15C;
    text-decoration: none;
    font-weight: bold;
    font-size: 110%;
}

.ad a.url {
    color: #093;
    text-decoration: none;
}

.mail_item_description {
    font-size: 11px;
}

.avatar {
    display: inline;
    width: 40px;
    height: 40px;
    margin-top: -8px;
    margin-left: 10px;
}

body {
    background-color: rgb(245, 245, 245);
}

#modalCompose .modal-dialog {
    position: absolute !important;
    bottom: 0;
    right: 20px;
    margin: 0 0 -10px;
    width: 35%;
}

.mail-text {
    min-height: 200px;
}

.contact-item {
    padding: 10px;
}

.contact-item img{
    height: 100px;
}

.navbar-brand {
    margin-top: 10px;
}

.mail-items .unread {
    font-weight: bold;
}

.mail-items .spam {
    color: #e2d50c;
}